@import 'minireset.css/minireset.css';

body,
button,
input,
optgroup,
select,
textarea {
    font-family: "Arial", "Helvetica", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", BlinkMacSystemFont, -apple-system, sans-serif;
}

html {
    background-color: white;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

ul {
    margin: 9px 10px;
    padding: 31px 0 16px 0;
    display: block;

    &:first-child {
        border-top: 1pt solid #000;
    }

    &:last-child {
        border-bottom: 1pt solid #000;
    }

    li {
        font-size: 1.1875em;
        margin: 0 0 8px 0;

        label {
            display: flex;
        }

        form {
        }

        input[type="checkbox"] {
            margin: 15px 25px 15px 10px;
            transform: scale(2);
            padding: 10px;

            & + span {
                margin: 10px 0 0;
            }

            &:checked + span {
                text-decoration: line-through;
            }
        }

        form {
            padding-left: 10px;

            input {
                font-size: 1.1875em;
                margin-left: 25px;
                margin-bottom: 5px;

                & + input {
                    margin-left: 36px;
                }

                @media screen and (min-width: 700px) {
                    &#importance {
                        width: 150px;
                    }
                }

                @media screen and (max-width: 700px) {
                    width: calc(100% - 40px);
                }
            }
        }
    }
}

p {
    font-size: 1.1875em;
    padding: 10px;
}